body, html {
	background-color: #F0EDE8;
	height: 100%;
	color: #6C6C6C;
	font-family: serif;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.heading-1 {
	line-height: 36px;
	font-size: 1.15em;
}
.heading-2 {
	margin-top: 10px;
	line-height: 32px;
}
.sub-heading {
	font-size: .83rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #E8E8E8;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #C6C6C6;
  -webkit-box-shadow: 0 0 1px #C9C9C9;
}









