body, html {
	background-color: #F0EDE8;
	height: 100%;
	color: #6C6C6C;
	font-family: serif;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.heading-1 {
	line-height: 36px;
	font-size: 1.15em;
}
.heading-2 {
	margin-top: 10px;
	line-height: 32px;
}
.sub-heading {
	font-size: .83rem;
}









