.main-container {
	background-color: #FFFFFF;
	box-shadow: 0px 8px 0px 0px #D7D5D0;
	overflow: hidden;
}

.cell:hover {
	background-color: #E7F1F0;
	cursor: pointer;
}

.cell + * {
	border-top: solid #E9E9E9 1px;
}

.cell.active {
	background-color: #E5F4FA;
	font-weight: bold;
}

.cell.active, .cell.active + * {
	border-top: solid #E5F4FA 1px;
}

.cell.new {
	font-weight: bold;
}

.new .indicator-icon {
	background-color: #2A9AC6;
}

.circular {
	background-color: #D8D8D8;
}

.detail-container > *:not(:last-child) {
	border-bottom: solid #E9E9E9 2px;
}

.message-text, #textarea {
	background-color: #F0F1F3;
}

.right .message-text {
	background-color: #E7F1F0;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-grn {
	background-color: #76C797;
	box-shadow: 0px 4px 0px 0px #69B287;
	color: #fff;
}
.btn-grn:hover {
	background-color: #a4daba;
	cursor: pointer;
}