<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/core.css">
	<link rel="stylesheet" type="text/css" href="css/structures.css">
	<link rel="stylesheet" type="text/css" href="css/skins.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
</head>
<body ng-app="SampleApp" ng-controller="SampleController as ctrl">
	<div class="main-container">
		<div class="master-container">
			<div ng-repeat="conversation in ctrl.conversations"
				 ng-class="{new: conversation.isNew, active: conversation.isActive}"
				 ng-click="ctrl.viewConversation(conversation)"
				 class="cell">
				<div class="cell-icon">
					<div class="indicator">
						<div class="indicator-icon"></div>
					</div>
					<div class="circular"></div>
				</div>
				<div class="cell-detail">
					<div class="heading-2 truncate" ng-bind="conversation.sender.name"></div>
					<div class="sub-heading truncate" ng-bind="conversation.messageHeading.message"></div>
				</div>
			</div>
		</div>
		<div class="detail-container">
			<div class="heading-1" ng-bind="ctrl.currentlyViewing.sender.name">
			</div>
			<div id="message-center" class="message-table">
				<div ng-repeat="message in ctrl.currentlyViewing.messageHistory"
					 ng-class="{right: !message.isRecieved}"
					 class="message">
					<div class="icon circular"></div>
					<div class="message-cell">
						<div class="heading-1"
							 ng-bind="message.isRecieved ? ctrl.currentlyViewing.sender.name : 'Me'"></div>
						<div class="message-text" ng-bind="message.message"></div>
						<div class="timestamp">
							<div ng-bind="message.timestamp"></div>
							<div class="circle-sm"></div>
							<div ng-bind="message.datestamp">s</div>
						</div>
					</div>
				</div>
			</div>
			<form class="message-box">
				<div id="textarea" contenteditable ng-model="ctrl.userMessage" gd-text-area></div>
				<div class="btn btn-grn" ng-click="ctrl.addMessage(ctrl.currentlyViewing, ctrl.userMessage)">SEND</div>
			</form>
		</div>
	</div>
	<footer><a href="https://github.com/DagherGeorge/SampleAngular">https://github.com/DagherGeorge/SampleAngular</a></footer>
</body>
</html>